@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Italic.woff2") format('woff2'),
      url('../fonts/Merriweather-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather-Regular.woff2') format('woff2'),
      url('../fonts/Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
      url('../fonts/Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*

Text color (gunmetal): #162521
Secondary black (outer space): #3C474B
Main color (steel blue): #4F7CAC
Secondary color (persian green): #1A9E8E
Tertiary color (red): #ED254E
Bright text (columbia blue): #E5EBF1
Text highlight color (moonstone): #58A4B0

*/

body {
  font-family: Merriweather, sans-serif;
  color: #162521;
  background-color: #FAF9F6;
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

#nav {
  background-color: #4F7CAC;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nav * {
  display: inline;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  margin-left: 25px;
}

#nav li a {
  color: #E5EBF1;
  text-decoration: none;
}

#nav li a:hover {
  color: #58A4B0;
}
