@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Italic.woff2") format('woff2'),
      url('../fonts/Merriweather-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather-Regular.woff2') format('woff2'),
      url('../fonts/Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
      url('../fonts/Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Merriweather, sans-serif;
  color: #162521;
  margin: 0;
  width: 100%;
}

#canvas1 {
  background-color: #41337A;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.card {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #D9E1E8;
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #6EA4BF;
}

.card h1 {
  font-size: 29px;
}

.card p {
  font-size: 21px;
  margin: 10px 0;
}

.profile {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: #162521;
}

.social-icons a img {
  width: 30px;
  height: 30px;
}

.button {
  margin-top: 20px;
  padding: 5px;
}

.resume {
  font-size: 16px;
  text-decoration: none;
  color: #162521;
}
