@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Italic.woff2") format('woff2'),
      url('../fonts/Merriweather-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather-Regular.woff2') format('woff2'),
      url('../fonts/Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
      url('../fonts/Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*

Text color (gunmetal): #162521
Secondary black (outer space): #3C474B
Main color (steel blue): #4F7CAC
Secondary color (persian green): #1A9E8E
Tertiary color (red): #ED254E
Bright text (columbia blue): #E5EBF1
Text highlight color (moonstone): #58A4B0

*/

body {
  background-color:#FAF9F6;
  font-family: Merriweather, sans-serif;
  color: #162521;
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

#nav {
  background-color: #4F7CAC;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nav * {
  display: inline;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  margin-left: 25px;
}

#nav li a {
  color: #E5EBF1;
  text-decoration: none;
}

#nav li a:hover {
  color: #58A4B0;
}

section#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.profile img {
  max-width: 100%;
  max-height: 350px;
  width: auto;
  height: auto;
  border: 3px solid #162521;
}

.about-me {
  margin-top: 0;
  color: #779ecb;
  font-weight: normal;
  font-size: 24px;
}


.bio {
  flex: 1;
  padding: 5px;
  margin-left: 10px;
}

.bio p {
  font-size: medium;
}

footer {
  background-color: #162521;
  text-align: center;
  padding: 3px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.email-link {
  color: #E5EBF1;
  text-decoration: none;
}

.email-link:hover {
  color: #58A4B0;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin: 5px;
  display: flex;
  align-items: center;
}

.social-icons img {
  width: 30px;
  height: 30px;
}
